@charset "utf-8";
/* 登录 注册*/
.container-fluid {height:708px; position:absolute; top:70px; background-color:#fafafa; width:100%; text-align:center;}
.container-fluid input {height:70px; font-size:20px; width:500px;}
.login-btn {display:inline-block; width:350px; height:70px; line-height:70px; background:#d3381c; font-size:25px; color:#fff; text-align:center; padding:0 60px; border-radius:5px;}
.regist-btn {display:inline-block; width:350px; height:70px; line-height:70px; background:#d3381c; font-size:25px; color:#fff; text-align:center; padding:0 60px; border-radius:5px;}
.login-form {margin-top:100px;}
.login-form ul {margin-bottom:50px;}
.login-form ul li {margin-bottom:2px;}
.regist-form {margin-top:70px;}
.regist-form ul {margin-bottom:50px;}
.regist-form ul li {margin-bottom:2px;}
/* 首页 */
.showbox {position:relative; width:1024px; height:280px; overflow:hidden; background-color:#eee;}
.imagebox {position:relative; width:1024px;  height:280px; top:0; overflow:hidden;}
.imagebox img {display:block; width:1024px; height:280px; float:left;}
.icobox {position:absolute; border:none; width:150px; height:5px; bottom:5px; text-align:center; line-height:40px; overflow:hidden; left:452px;}
.icobox span {width:15px; height:5px; cursor:pointer; float:left; background-color:#ddd; margin-left:5px;}
.icobox span.active {cursor:default; background-color:#fff;}
.index-content {margin-bottom:120px;}
.book-list {margin:0 20px;}
.list-title {margin:30px 10px 15px 10px;}
.list-title h1 {font-size:20px;}
.list-title h2 {font-size:20px; color:#00b38a;}
.list-title img {height:20px; width:20px; padding-top:4px;}
.bookslide {height:5px; background-color:#eee;}
.bookgroup {margin:20px 0; overflow:hidden; position:relative;}
.bookbox {width:220px; text-align:center; margin-right:34px;}
.bookbox-last {margin-right:-34px;}
.bookbox img {width:220px; height:280px;}
.bookbox h1 {font-size:14px; color:#888; margin-top:5px;}
.index-search {height:40px; width:40px; position:absolute; right:20px; top:10px;}
/* 书架 */
.header {height:70px; background-color:#00B38a; text-align:center; position:fixed; top:0; z-index:9999; width:100%;}
.header-title {line-height:70px; font-size:30px; color:#fff;}
.header-title-right {line-height:70px; font-size:30px; color:#fff; position:absolute; top: 0px; right:30px;}
.container {position:absolute; top:70px; width:100%; padding-bottom:120px;}
.bookitem {float:left; margin-top:40px; text-align:center; margin-left:90px;}
.bookcover {margin-bottom:10px;}
.bookcover img{width:220px; height:280px;}
.bookname {font-size:18px;}
.download {display:block; font-size:18px; border:solid 1px #00b38a; border-radius:20px; color:#00b38a; width:60px; margin-top:10px; margin-left:79px;}
.footer {height:70px; border-top:2px solid #ddd; text-align:center; position:fixed; bottom:0; z-index:9999; width:100%; background-color:#fafafa;}
.navbar {list-style:none; }
.navbar li {display:inline-block; width:19.5%;}
.icon img {width:45px; height:45px; margin:2px;}
.icon-round img{width:90px; height:90px; border-radius:90px; position:relative; bottom:40px; border:2px solid #fafafa;}
/* 个人中心 */
.container-grey {position:absolute; top:70px; width:100%; background-color:#f0f0f0; padding-bottom:120px;}
.info-group {height:150px;background-color:#fafafa;}
.info-head {display:block; margin:25px 0 25px 80px;}
.info-head img{width:100px; height:100px; border-radius:100px;}
.info-name {display:block; margin:42px 0 42px 50px;}
.info-name h {font-size:40px;}
.info-level {background-color:red; border-radius:4px; width:40px; height:20px; color:#fff; text-align:center; line-height:20px;}
.info-regist {display:block; margin:23px 150px 23px 0px; text-align:center; padding-left:40px; border-left:2px solid #ddd;}
.info-regist h {font-size:20px; color:#888;}
.info-regist h1 {font-size:30px; color:red; padding:5px 0;}
.info-sign {background-color:green; border-radius:4px; width:70px; height:30px; color:#fff; text-align:center; font-size:22px; margin:0 5px;}
.item-group {height:150px;background-color:#fafafa;}
.item-single {height:74px;background-color:#fafafa;}
.item-left {display:block;}
.item-left img {height:40px; width:40px; margin:17px 40px 17px 35px;}
.item-middle {display:block; font-size:25px; margin:19px 0;}
.item-right {display:block;}
.item-right img {height:30px; width:30px;margin:22px 35px 22px 0;}
/* 互动圈 */
.header-icon-right {height:35px; width:35px; position:absolute; top:18px; right:30px;}
.bbs-block {background-color:#fafafa; padding:0 20px;}
.block-title {padding:20px 0;}
.block-title img {height:50px; width:50px; border-radius:30px;}
.block-title span {margin-left:15px;}
.from {font-size:18px; color:#888; }
.tag {border:solid 1px blue; border-radius:3px; font-size:18px; color:blue;}
.block-content {padding-bottom:20px;margin-left:15px;}
.block-content h1 {font-size:23px; font-weight:bold; margin-bottom:10px;}
.block-content h2 {font-size:18px;}
.block-footer {margin-left:15px; padding-bottom:20px;}
.block-footer span {font-size:18px; color:#888;}
/* 书本详细 */
.header-icon-left {height:35px; width:35px; position:absolute; top:18px; left:30px;}
.detail-content {padding:40px 70px 50px 70px; background-color:#fafafa;}
.detail-content img {width:220px; height:280px;}
.detail-topic {margin-left:70px;}
.detail-topic h1 {font-size:30px; font-weight:bold; padding-bottom:5px; border-bottom:solid 1px #ddd;}
.detail-topic ul {margin-top:40px;}
.detail-topic ul li {font-size:20px;margin-bottom:10px;}
.save-btn {background-color:#168CC6; border-radius:5px; padding:5px 0; text-align:center;}
.save-btn img {width:25px; height:25px;}
.save-btn span {color:#fff; font-size:20px; margin-left:3px;}
.detail-group {background-color:#fafafa;}
.detail-unit {line-height:70px; margin-bottom:10px; border-bottom:solid 1px #ddd; padding-left:50px;}
.detail-unit img {width:50px; height:50px;}
.detail-unit span {font-size:25px; font-weight:bold; margin-right:10px;}
.detail-text {font-size:22px; line-height:60px; letter-spacing:2px;}
.detail-text ul li {margin-bottom:10px; border-bottom:solid 1px #ddd;  padding-left:100px;}
.detail-text ul li span {margin-right:10px;}
.detail-text ul li span img {width:25px; height:25px; margin-right:15px;}
/* 课文详细 */
.context-pic {position:relative;}
.context-pic img {height:350px; width:1024px;}
.context-title {position:absolute; top:150px; left:320px; font-size:30px; padding:10px 40px; background-color:rgba(255,255,255,0.8);border-radius:30px; border:solid 2px #fff;}
.context-group {background-color:#fafafa;}
.context-text {font-size:22px; line-height:60px; letter-spacing:2px;}
.context-text ul li {margin-bottom:10px; border-bottom:solid 1px #ddd;  padding-left:100px;}
.context-text ul li span {margin-right:10px;}
.context-text ul li span img {width:25px; height:25px; margin-right:15px; position:relative; top:-5px;}
.word-activity {margin-left:40px;}
.sentence-activity {margin-left:40px;}
.sentence-activity em {text-decoration:underline;}
.context-answer {width:750px; border-radius:5px; background-color:#c1e4e9; padding:5px 10px; margin-bottom:20px; margin-left:45px; font-size:20px; line-height:40px; color:#444;}
/* 互动圈详细 */
.bbs-question {background-color:#fff;}
.bbs-question h1 {font-size:25px; padding:20px 20px; font-weight:bold;}
.bbs-author {border-bottom:solid 1px #f0f0f0;}
.bbs-answer {padding:20px 20px; background-color:#fff; line-height:50px;}
.bbs-answer h1 {font-size:25px;}
.bbs-author {background-color:#fff;}
/* 评论页面 */
.comment-block {margin-top:20px;}
.comment-title img {height:50px; width:50px; border-radius:30px; margin:0 30px;}
.comment-title span {font-size:25px; font-weight:bold; line-height:30px;}
.comment-title i img {height:30px; width:30px; margin:0 5px; position:relative; top:-6px;}
.comment-content {margin-left:110px; margin-top:10px; margin-bottom:15px;}
.comment-content h1 {font-size:25px;}
.comment-bar {margin-left:110px; border-bottom:solid 1px #ddd; padding-bottom:20px; margin-right:20px;}
.comment-bar img {height:25px; width:30px;}
.comment-bar span {font-size:20px; color:#888; margin-right:10px;}
/* 评论输入 */
.header-left {line-height:70px; font-size:30px; color:#fff; position:absolute; left:30px;}
.header-right {line-height:70px; font-size:30px; color:#fff; position:absolute; right:30px; top:0px;}
.comment-area {width:100%; height:auto; font-size:25px; margin:20px 20px;}
/* 反馈页面 */
.feedback-area {margin:30px 50px 60px 50px;}
.feedback-area textarea {outline:none; width:100%; height:300px; border:solid 1px #ddd; font-size:25px; padding:10px 0px;}
.feedback-btn {margin:0 50px; height:80px; background-color:#168CC6; text-align:center;}
.feedback-btn span {line-height:80px; color:#fff; font-size:25px;}
.contact-us {margin:50px 50px;}
.contact-us span {font-size:20px;}
.phone {color:blue;}
/* 设置 */
.set-privacy {background-color:#fff; padding:20px 0px 0px 40px;}
.set-privacy h2 {font-size:20px; color:#888; margin-bottom:20px;}
.set-privacy h1 {font-size:25px; padding:20px 0;}
.set-privacy span {margin-right:30px; font-size:20px; color:#C57B0A; line-height:36px;}
.set-privacy span img {height:25px; width:25px;}
.set-btn {line-height:76px; font-size:25px; text-align:center; color:#00b38a; background-color:#fff;}
/* 搜索页面 */
.search-bar {line-height:70px;}
.search-bar input {height:50px; width:800px; background-color:#00b38a; outline:none; font-size:25px; border-width:0px 0px 2px 0px; color:#fff;}
.search-category {height:80px; line-height:80px; text-align:center; background-color:#fafafa;}
.search-category span {line-height:80px; font-size:25px; margin:0 5px; color:#444;}
.search-category span img{width:30px; height:30px;}
.search-tag {font-size:20px; padding-bottom:40px;}
.search-tag h1 {color:#888; padding:30px 0 0 40px;}
.tag-item {margin-left:40px; margin-top:30px; border:2px solid #ddd; border-radius:30px; padding:10px 10px;}
.search-history {font-size:20px;}
.search-history h1 {color:#888; padding:30px 0 40px 40px;}
.history-item {text-align:center; color:#888;}
/* 图书分类 */
.category-subject {margin:40px 40px;}
.category-subject span {font-size:25px; color:#888;}
.category-subject img {height:40px; width:40px;}
.subject-item {height:120px; width:120px; border-radius:120px; margin:0 0 20px 110px;}
.subject-item img {height:60px; width:60px; margin:30px 30px;}
.subject-title {font-size:20px; margin:0 0 40px 150px;}
#chinese {background-color:#a0d8ef;}
#english {background-color:#e83929;}
#math {background-color:#eb6ea5;}
#physic {background-color:#3eb370;}
#chemistry {background-color:#38b48b;}
#biology {background-color:#e9546b;}
#politic {background-color:#89c3eb;}
#history {background-color:#7058a3;}
#geography {background-color:#f5b1aa;}
/* 我的活动 */
.activity {background-color:#fff; padding-bottom:30px; border-bottom:solid 2px #f0f0f0;}
.activity-title img {height:50px; width:50px; border-radius:30px; margin:30px 30px;}
.activity-title span {font-size:25px; line-height:30px;}
.activity h1 {font-size:20px; margin-left:110px; margin-top:-10px;}
.activity-book {margin-left:110px; margin-top:20px; background-color:#f0f0f0; margin-right:50px; border-radius:8px;}
.book-item-pic {height:70px; width:50px;}
.book-item {display:inline-block; padding:10px 20px;}
.star-pic {height:30px; width:30px; position:relative; top:15px;}
.book-item h2 {font-size:18px; position:relative; top:10px;}
/* 我的评论 */
.mycomment {background-color:#fff; padding-bottom:30px; border-bottom:solid 2px #f0f0f0;}
.mycomment-title {padding:30px 30px 20px 0px;}
.mycomment-title img{height:50px; width:50px; border-radius:30px; margin-right:30px; margin-left:30px;}
.mycomment-date {font-size:20px; color:#888; margin-right:30px;}
.mycomment-title span {font-size:25px; line-height:30px;}
.mycomment-title i img {height:30px; width:30px; margin:0 5px; position:relative; top:-6px;}
.mycomment-content h1{font-size:20px; margin-left:110px; color:#666;}
.mycomment-answer {margin-left:110px; margin-top:20px; background-color:#f0f0f0; margin-right:50px; border-radius:8px;}
.mycomment-answer h1 {font-size:20px; padding:10px 10px; color:#666;}
/* 我的消息 */

/* 我的树木 */