<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>互动圈</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<h1 class="header-title">互动圈</h1>
		<span><img src="images/search.png" class="header-icon-right"></span>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container-grey">
	    <div class="hr15"></div>
		<div class="bbs-block">
			<div class="block-title">
				<span><img src="images/yoga.jpg"></span>
				<span>来自教材：一年级语文</span>
			</div>
			<div class="block-content">
				<h1>在《开国大典》这篇课文中你印象最深刻的场景？</h1>
				<h2>天明：文章中描绘的毛主席在天安门城楼上高声宣布“中华人民共和国成立的那一刹那，我仿佛身临其境，感到热血澎湃，可以感受到新中国成立人民当家做主的自豪感！</h2>
			</div>
			<div class="block-footer">
				<span>11赞同</span>
				<span>·</span>
				<span>22评论</span>
				<span>·</span>
				<span>收藏问题</span>
			</div>
		</div>
		<div class="hr15"></div>
		<div class="bbs-block">
			<div class="block-title">
				<span><img src="images/yoga.jpg"></span>
				<span>来自教材：一年级语文</span>
			</div>
			<div class="block-content">
				<h1>《开国大典》这篇课文中你印象最深刻的场景？</h1>
				<h2>天明：文章中描绘的毛主席在天安门城楼上高声宣布“中华人民共和国成立的那一刹那，我仿佛身临其境，感到热血澎湃，可以感受到新中国成立人民当家做主的自豪感！</h2>
			</div>
			<div class="block-footer">
				<span>11赞同</span>
				<span>·</span>
				<span>22评论</span>
				<span>·</span>
				<span>收藏问题</span>
			</div>
		</div>
		<div class="hr15"></div>
		<div class="bbs-block">
			<div class="block-title">
				<span><img src="images/yoga.jpg"></span>
				<span>来自教材：一年级语文</span>
			</div>
			<div class="block-content">
				<h1>《开国大典》这篇课文中你印象最深刻的场景？</h1>
				<h2>天明：文章中描绘的毛主席在天安门城楼上高声宣布“中华人民共和国成立的那一刹那，我仿佛身临其境，感到热血澎湃，可以感受到新中国成立人民当家做主的自豪感！</h2>
			</div>
			<div class="block-footer">
				<span>11赞同</span>
				<span>·</span>
				<span>22评论</span>
				<span>·</span>
				<span>收藏问题</span>
			</div>
		</div>
		<div class="hr15"></div>
	</div>
	<!-- 页面内容结束 -->
	<!-- 底部工具栏 -->
	<div class="footer">
		<ul class="navbar">
			<li>
				<div class="icon"><a href="mybook.html"><img src="images/bookshelf.png" alt="icon"></a></div>
				<h>书架</h>
			</li>
			<li>
				<div class="icon"><a href="index.html"><img src="images/bookstore.png" alt="icon"></a></div>
				<h>书城</h>
			</li>
			<li>
				<div class="icon-round"><img src="images/scan.png" alt="icon"></div>
			</li>
			<li>
				<div class="icon"><img src="images/bbs-green.png" alt="icon"></div>
				<h style="color:#00b38a;">互动圈</h>
			</li>
			<li>
				<div class="icon"><a href="center.html"><img src="images/center.png" alt="icon"></a></div>
				<h>我</h>
			</li>
		</ul>
	</div>
	<!-- 底部工具栏结束 -->
</body>
</html>