<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>互动圈</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/main.css">
<script type="text/javascript" src="{{ EYEGIC_STATIC }}js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<h1 class="header-title">互动圈</h1>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container-grey">
        {% for answer in answers %}
	    <div class="hr15"></div>
		<a href="bbsdetail.html?answer_id={{ answer.id }}"><div class="bbs-block">
			<div class="block-title">
				<span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
				<span class="from">来自教材：</span><span class="tag">{{ answer.question.booktext.unit.book.grade }}</span><span class="tag">{{ answer.question.booktext.unit.book.publish }}</span><span class="tag">{{ answer.question.booktext.unit.book.subject_cn }}</span><span class="tag">{{ answer.question.booktext.title }}</span>
			</div>
			<div class="block-content">
				<h1>{{ answer.question.question }}？</h1>
				<h2>{{ answer.user.nickname }}：{{ answer.answer }}</h2>
			</div>
			<div class="block-footer">
				<span>{{ answer.praise }}</span>
				<span>·</span>
				<span>·</span>
				<span>收藏问题</span>
			</div>
		</div></a>
        {% endfor %}
		<div class="hr15"></div>
	</div>
	<!-- 页面内容结束 -->
	<!-- 底部工具栏 -->
	<div class="footer">
		<ul class="navbar">
			<li>
				<div class="icon"><a href="mybook.html"><img src="{{ EYEGIC_STATIC }}images/bookshelf.png" alt="icon"></a></div>
				<h>书架</h>
			</li>
			<li>
				<div class="icon"><a href="index.html"><img src="{{ EYEGIC_STATIC }}images/bookstore.png" alt="icon"></a></div>
				<h>书城</h>
			</li>
			<li>
				<div class="icon-round"><img src="{{ EYEGIC_STATIC }}images/scan.png" alt="icon"></div>
			</li>
			<li>
				<div class="icon"><img src="{{ EYEGIC_STATIC }}images/bbs-green.png" alt="icon"></div>
				<h style="color:#00b38a;">互动圈</h>
			</li>
			<li>
				<div class="icon"><a href="center.html"><img src="{{ EYEGIC_STATIC }}images/center.png" alt="icon"></a></div>
				<h>我</h>
			</li>
		</ul>
	</div>
	<!-- 底部工具栏结束 -->
</body>
</html>