<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>互动具体问题</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#zan").click(function() {
			$("#zan img").attr("src", "images/zan-green.png");
		});
		$("#thanks").click(function() {
			$("#thanks img").attr("src", "images/thanks-green.png");
		});
		$("#collect").click(function() {
			$("#collect img").attr("src", "images/collect-green.png");
		});
		$("#comment").click(function() {
			$("#comment img").attr("src", "images/comment-green.png");
		});
	})
</script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<a href="javascript:history.back()"><span><img src="images/back.png" class="header-icon-left"></span></a>
		<h1 class="header-title">开国大典</h1>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container-grey">
	    <div class="bbs-question">
	    	<h1>在《开国大典》这篇课文中你印象最深刻的场景？</h1>
	    </div>
		<div class="hr15"></div>
		<div class="bbs-author">
			<div class="block-title">
				<span><img src="images/yoga.jpg"></span>
				<span class="from">来自教材：</span><span class="tag">一年级</span><span class="tag">沪教版</span><span class="tag">语文</span><span class="tag">开国大典</span>
			</div>
		</div>
		<div class="bbs-answer">
			<h1>文章中描绘的毛主席在天安门城楼上高声宣布“中华人民共和国成立的那一刹那，我仿佛身临其境，感到热血澎湃，可以感受到新中国成立人民当家做主的自豪感！</h1>
		</div>
	</div>
	<!-- 页面内容结束 -->
	<!-- 底部工具栏 -->
	<div class="footer">
		<ul class="navbar">
			<li id="zan">
				<div class="icon"><img src="images/zan.png" alt="icon"></div>
				<h>赞同(660)</h>
			</li>
			<li id="thanks">
				<div class="icon"><img src="images/thanks.png" alt="icon"></div>
				<h>感谢作者</h>
			</li>
			<li id="collect">
				<div class="icon"><img src="images/collect.png" alt="icon"></div>
				<h>加入收藏</h>
			</li>
			<li id="comment">
				<a href="comment.html"><div class="icon"><img src="images/comment.png" alt="icon"></div>
				<h>评论(451)</h></a>
			</li>
		</ul>
	</div>
	<!-- 底部工具栏结束 -->
</body>
</html>