<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>课本详细</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/main.css">
<script type="text/javascript" src="{{ EYEGIC_STATIC }}js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.save-btn').click(function(){
            $.post("add_fovor_book", {book_id:'{{ book.id }}'}, function(){
                $('.save-btn').css("background-color", "#ddd");
            })
        })
    })
</script>
</head>
<body>
    <div class="header">
    	<a href="javascript:history.back()"><span><img src="{{ EYEGIC_STATIC }}images/back.png" class="header-icon-left"></span></a>
        <h1 class="header-title">课本</h1>
    </div>
    <div class="container-grey">
    	<div class="detail-content clearfix">
    		<img src="{{ EYEGIC_STATIC }}images/chinese1a.jpg" class="fl">
    		<div class="detail-topic fl">
    			<h1>{{ book.bookname }}</h1>
    			<ul>
    				<li><span>科目：</span><span>{{ book.subject_cn }}</span></li>
    				<li><span>版本：</span><span>{{ book.publish }}</span></li>
    				<li><span>年级：</span><span>{{ book.grade }}</span></li>
    				<li><span>大小：</span><span>{{ book.model_size}}MB</span></li>
    			</ul>
    			<div class="save-btn"><span><img src="{{ EYEGIC_STATIC }}images/favor.png"></span><span>收藏到书架</span></div>
    		</div>
    	</div>
    	<div class="hr15"></div>
    	<div class="detail-group">
    		<div class="detail-unit">
    			<span><img src="{{ EYEGIC_STATIC }}images/unit1.png"></span>
    			<span>第一单元</span>
    		</div>
    		<div class="detail-text">
    			<ul>
                {% for foo in unit1 %}
    				<a href="context.html?textid={{ foo.id }}"><li><span>{{ foo.textnum }}.</span>&nbsp;<span>{{ foo.title }}</span><span class="fr"><img src="{{ EYEGIC_STATIC }}images/arrow.png"></span></li></a>
                {% endfor %}
    			</ul>
    		</div>
    	</div>
    	<div class="hr15"></div>
    	<div class="detail-group">
    		<div class="detail-unit">
    			<span><img src="{{ EYEGIC_STATIC }}images/unit2.png"></span>
    			<span>第二单元</span>
    		</div>
    		<div class="detail-text">
    			<ul>
                {% for foo in unit2 %}
    				<a href="context.html?textid={{ foo.id }}"><li><span>{{ foo.textnum }}.</span>&nbsp;<span>{{ foo.title }}</span><span class="fr"><img src="{{ EYEGIC_STATIC }}images/arrow.png"></span></li></a>
                {% endfor %}
    			</ul>
    		</div>
    	</div>
    	<div class="hr15"></div>
    	<div class="detail-group">
    		<div class="detail-unit">
    			<span><img src="{{ EYEGIC_STATIC }}images/unit3.png"></span>
    			<span>第三单元</span>
    		</div>
    		<div class="detail-text">
    			<ul>
                {% for foo in unit3 %}
    				<a href="context.html?textid={{ foo.id }}"><li><span>{{ foo.textnum }}.</span>&nbsp;<span>{{ foo.title }}</span><span class="fr"><img src="{{ EYEGIC_STATIC }}images/arrow.png"></span></li></a>
                {% endfor %}
    			</ul>
    		</div>
    	</div>
    	<div class="hr15"></div>
    	<div class="detail-group">
    		<div class="detail-unit">
    			<span><img src="{{ EYEGIC_STATIC }}images/unit4.png"></span>
    			<span>第四单元</span>
    		</div>
    		<div class="detail-text">
    			<ul>
                {% for foo in unit4 %}
    				<a href="context.html?textid={{ foo.id }}"><li><span>{{ foo.textnum }}.</span>&nbsp;<span>{{ foo.title }}</span><span class="fr"><img src="{{ EYEGIC_STATIC }}images/arrow.png"></span></li></a>
                {% endfor %}
    			</ul>
    		</div>
    	</div>
        <div class="hr15"></div>
        <div class="detail-group">
            <div class="detail-unit">
                <span><img src="{{ EYEGIC_STATIC }}images/unit5.png"></span>
                <span>第五单元</span>
            </div>
            <div class="detail-text">
                <ul>
                {% for foo in unit5 %}
    				<a href="context.html?textid={{ foo.id }}"><li><span>{{ foo.textnum }}.</span>&nbsp;<span>{{ foo.title }}</span><span class="fr"><img src="{{ EYEGIC_STATIC }}images/arrow.png"></span></li></a>
                {% endfor %}
    			</ul>
            </div>
        </div>
    </div>
</body>
</html>