<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>图书分类</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<a href="javascript:history.back()"><span><img src="images/back.png" class="header-icon-left"></span></a>
		<h1 class="header-title">全部</h1>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container clearfix">
	    <div class="category-subject">
	    	<span><img src="images/tag.png"></span>
	    	<span>科目类别</span>
	    </div>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="chinese"><img src="images/chinese.png"></div><h1 class="subject-title">语文</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="math"><img src="images/math.png"></div><h1 class="subject-title">数学</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="english"><img src="images/english.png"></div><h1 class="subject-title">英语</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="physic"><img src="images/physic.png"></div><h1 class="subject-title">物理</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="chemistry"><img src="images/chemistry.png"></div><h1 class="subject-title">化学</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="biology"><img src="images/biology.png"></div><h1 class="subject-title">生物</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="politic"><img src="images/politic.png"></div><h1 class="subject-title">政治</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="history"><img src="images/history.png"></div><h1 class="subject-title">历史</h1></a>
	    <a href="subject-all.html" class="fl"><div class="subject-item" id="geography"><img src="images/geography.png"></div><h1 class="subject-title">地理</h1></a>
	</div>
	<!-- 页面内容结束 -->
</body>
</html>