<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人中心</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<h1 class="header-title">我</h1>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container-grey">
	    <div class="hr15"></div>
		<div class="info-group clearfix">
			<div class="info-head fl"><img src="images/yoga.jpg"></div>
			<div class="info-name fl">
				<h>Pandaice</h>
				<div class="info-level">LV1</div>
			</div>
			<div class="info-regist fl">
				<h>连续签到</h>
				<h1>7</h1>
				<div class="info-sign">签到</div>
			</div>
		</div>
		<div class="hr15"></div>
		<div class="item-group">
			<a href="mycomment.html"><div class="item-single clearfix">
				<span class="item-left fl"><img src="images/bookstore.png"></span>
				<div class="item-middle fl">我的评论</div>
				<span class="item-right fr"><img src="images/arrow.png"></span>
			</div></a>
			<div class="hr1"></div>
			<a href="mymessage.html"><div class="item-single clearfix">
				<span class="item-left fl"><img src="images/bookstore.png"></span>
				<div class="item-middle fl">消息提醒</div>
				<span class="item-right fr"><img src="images/arrow.png"></span>
			</div></a>
		</div>
		<div class="hr15"></div>
		<div class="item-group">
			<a href="myactivity.html"><div class="item-single clearfix">
				<span class="item-left fl"><img src="images/bookstore.png"></span>
				<div class="item-middle fl">我的动态</div>
				<span class="item-right fr"><img src="images/arrow.png"></span>
			</div></a>
			<div class="hr1"></div>
			<a href="mytree.html"><div class="item-single clearfix">
				<span class="item-left fl"><img src="images/bookstore.png"></span>
				<div class="item-middle fl">我的知识树</div>
				<span class="item-right fr"><img src="images/arrow.png"></span>
			</div></a>
		</div>
		<div class="hr15"></div>
		<a href="setup.html"><div class="item-single clearfix">
			<span class="item-left fl"><img src="images/bookstore.png"></span>
			<div class="item-middle fl">我的设置</div>
			<span class="item-right fr"><img src="images/arrow.png"></span>
		</div></a>
		<div class="hr298"></div>
	</div>
	<!-- 页面内容结束 -->
	<!-- 底部工具栏 -->
	<div class="footer">
		<ul class="navbar">
			<li>
				<div class="icon"><a href="mybook.html"><img src="images/bookshelf.png" alt="icon"></a></div>
				<h>书架</h>
			</li>
			<li>
				<div class="icon"><a href="index.html"><img src="images/bookstore.png" alt="icon"></a></div>
				<h>书城</h>
			</li>
			<li>
				<div class="icon-round"><img src="images/scan.png" alt="icon"></div>
			</li>
			<li>
				<div class="icon"><a href="bbs.html"><img src="images/bbs.png" alt="icon"></a></div>
				<h>互动圈</h>
			</li>
			<li>
				<div class="icon"><img src="images/center-green.png" alt="icon"></div>
				<h style="color:#00b38a;">我</h>
			</li>
		</ul>
	</div>
	<!-- 底部工具栏结束 -->
</body>
</html>