<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>课文详细</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <div class="header">
    	<span><img src="images/search.png" class="header-icon-left"></span>
        <h1 class="header-title">课文</h1>
    </div>
    <div class="container-grey">
    	<div class="context-pic">
            <img src="images/shuffle1.png">
            <span class="context-title">老师领进门</span>
        </div>
        <div class="context-group">
            <div class="context-unit">
                <span><img src="images/bookstore-green.png"></span>
                <span>词句活动室</span>
            </div>
            <div class="context-text">
                <ul>
                    <li><span>1.</span>&nbsp;<span>老师领进门</span></li>
                    <li><span>2.</span>&nbsp;<span>老师领进门</span></li>
                    <li><span>3.</span>&nbsp;<span>老师领进门</span></li>
                </ul>
            </div>
        </div>
        <div class="hr15"></div>
        <div class="context-group">
            <div class="context-unit">
                <span><img src="images/bookstore-green.png"></span>
                <span>词句活动室</span>
            </div>
            <div class="context-text">
                <ul>
                    <li><span>1.</span>&nbsp;<span>老师领进门</span></li>
                    <li><span>2.</span>&nbsp;<span>老师领进门</span></li>
                    <li><span>3.</span>&nbsp;<span>老师领进门</span></li>
                </ul>
            </div>
        </div>
        <div class="hr15"></div>
        <div class="context-group">
            <div class="context-unit">
                <span><img src="images/bookstore-green.png"></span>
                <span>词句活动室</span>
            </div>
            <div class="context-text">
                <ul>
                    <li><span>1.</span>&nbsp;<span>老师领进门</span></li>
                    <li><span>2.</span>&nbsp;<span>老师领进门</span></li>
                    <li><span>3.</span>&nbsp;<span>老师领进门</span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>