<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>课文详细</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <div class="header">
    	<a href="javascript:history.back()"><span><img src="images/back.png" class="header-icon-left"></span></a>
        <h1 class="header-title">课文</h1>
    </div>
    <div class="container-grey">
    	<div class="context-pic">
            <img src="images/shuffle1.png">
            <span class="context-title">引人注目的Google标志</span>
        </div>
        <div class="context-group">
            <div class="detail-unit">
                <span><img src="images/part1.png"></span>
                <span>阅读芳草地</span>
            </div>
            <div class="context-text">
                <ul>
                    <li>
                        <span>1.</span>&nbsp;
                        <span>阅读课文，找一找运用了何种修辞方法。</span>
                        <a href="makeanswer.html"><span class="fr"><img src="images/write.png"></span></a>
                        <br>
                        <div class="context-answer">
                            我也不知道自己说了点什么我也不知道自己说了点什么我也不知道自己说了点什么我也不知道自己说了点什么我也不知道自己说了点什么我也不知道自己说了点什么
                        </div>
                    </li>
                    <li>
                        <span>2.</span>&nbsp;
                        <span>背诵课文第一小节。</span>
                        <span class="fr"><img src="images/done.png"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hr15"></div>
        <div class="context-group">
            <div class="detail-unit">
                <span><img src="images/part2.png"></span>
                <span>词句活动室</span>
            </div>
            <div class="context-text">
                <ul>
                    <li>
                        <span>1.</span>&nbsp;
                        <span>联系课文内容，说说下列词语的意思</span>
                        <a href="makeanswer.html"><span class="fr"><img src="images/write.png"></span></a>
                        <br>
                        <span class="word-activity">引人注目</span><span class="word-activity">别出心裁</span>
                        <br>
                        <div class="context-answer">
                            我也不知道自己说了点什么
                        </div>
                    </li>
                    <li>
                        <span>2.</span>&nbsp;
                        <span>读一读，用下划线的词语造句。</span>
                        <a href="makeanswer.html"><span class="fr"><img src="images/write.png"></span></a>
                        <br>
                        <span class="sentence-activity">Google公司在某些特殊人物、事件的纪念日或重大节庆时，会特别设计<em>别出心裁</em>的涂鸦标志。</span>
                        <br>
                        <div class="context-answer">
                            我也不知道自己说了点什么
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hr15"></div>
        <div class="context-group">
            <div class="detail-unit">
                <span><img src="images/part3.png"></span>
                <span>语言直播厅</span>
            </div>
            <div class="context-text">
                <ul>
                    <li>
                        <span>1.</span>&nbsp;
                        <span>你还知道哪些关于Google及它的创始人的故事？说给大家听听？</span>
                        <a href="makeanswer.html"><span class="fr"><img src="images/write.png"></span></a>
                        <br>
                        <div class="context-answer">
                            我也不知道自己说了点什么
                        </div>
                    </li>
                    <li>
                        <span>2.</span>&nbsp;
                        <span>你了解过Google公司的发展历史吗？与大家分享一下吧。</span>
                        <a href="makeanswer.html"><span class="fr"><img src="images/write.png"></span></a>
                        <br>
                        <div class="context-answer">
                            我也不知道自己说了点什么
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>