{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>意见反馈</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="{% static 'eyegic/css/reset.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'eyegic/css/main.css' %} ">
<script type="text/javascript" src="{% static 'eyegic/js/jquery.min.js' %} "></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<a href="javascript:history.back()"><span><img src="{% static 'eyegic/images/back.png' %} " class="header-icon-left"></span></a>
		<h1 class="header-title">意见反馈</h1>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container">
	    <div class="feedback-area"><textarea name="feedback" placeholder="请输入遇到的问题和建议......"></textarea></div>
	    <div class="feedback-btn"><a href="#"><span>提交</span></a></div>
	    <div class="contact-us">
	    	<span>有任何问题，请拨打热线电话：</span><span class="phone">021-66666666</span>
	    </div>
	</div>
	<!-- 页面内容结束 -->
</body>
</html>