<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登录</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <div class="header">
    	<span><img src="images/search.png" class="header-icon-left"></span>
    	<h1 class="header-title">登录</h1>
    	<span><img src="images/search.png" class="header-icon-right"></span>
    </div>
    <div class="container-fluid">
    	<form id="login" method="post" class="login-form">
    		<ul>
    			<li><input type="text" name="name" placeholder="手机号码/邮箱"></li>
    			<li><input type="password" name="password" placeholder="密码"></li>
    		</ul>
    		<a href="#"><div class="login-btn">登录</div></a>
    	</form>
    </div>
</body>
</html>