<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>评论输入</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<a href="javascript:history.back()"><h1 class="header-left">取消</h1></a>
		<h1 class="header-title">评论</h1>
		<a href="javascript:history.back()"><h1 class="header-right">发布</h1></a>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container">
	    <input type="textarea" name="comment" class="comment-area" placeholder="请输入评论">
	</div>
	<!-- 页面内容结束 -->
</body>
</html>