<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的评论</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/main.css">
<script type="text/javascript" src="{{ EYEGIC_STATIC }}js/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <a href="javascript:history.back()"><span><img src="{{ EYEGIC_STATIC }}images/back.png" class="header-icon-left"></span></a>
    	<h1 class="header-title">我的评论</h1>
    </div>
    <div class="container-grey">
        <div class="mycomment">
            <div class="mycomment-title">
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <span>谢斌</span><i><img src="{{ EYEGIC_STATIC }}images/toward.png"></i><span>倩倩</span>
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <em class="fr mycomment-date">17-03-04</em>
            </div>
            <div class="mycomment-content">
                <h1>问题：在《开国大典》这篇课文中你印象最深刻的场景？</h1>
            </div>
            <div class="mycomment-answer">
                <h1>评论：&nbsp;我觉得你说的很有道理！</h1>
            </div>
        </div>
        <div class="mycomment">
            <div class="mycomment-title">
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <span>谢斌</span>
                <i><img src="{{ EYEGIC_STATIC }}images/toward.png"></i>
                <span>倩倩</span>
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <em class="fr mycomment-date">17-03-04</em>
            </div>
            <div class="mycomment-content">
                <h1>问题：在《开国大典》这篇课文中你印象最深刻的场景？</h1>
            </div>
            <div class="mycomment-answer">
                <h1>评论：&nbsp;我觉得你说的很有道理！</h1>
            </div>
        </div>
        <div class="mycomment">
            <div class="mycomment-title">
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <span>谢斌</span><i><img src="{{ EYEGIC_STATIC }}images/toward.png"></i><span>倩倩</span>
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <em class="fr mycomment-date">17-03-04</em>
            </div>
            <div class="mycomment-content">
                <h1>问题：在《开国大典》这篇课文中你印象最深刻的场景？</h1>
            </div>
            <div class="mycomment-answer">
                <h1>评论：&nbsp;我觉得你说的很有道理！</h1>
            </div>
        </div>
        <div class="mycomment">
            <div class="mycomment-title">
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <span>谢斌</span><i><img src="{{ EYEGIC_STATIC }}images/toward.png"></i><span>倩倩</span>
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <em class="fr mycomment-date">17-03-04</em>
            </div>
            <div class="mycomment-content">
                <h1>问题：在《开国大典》这篇课文中你印象最深刻的场景？</h1>
            </div>
            <div class="mycomment-answer">
                <h1>评论：&nbsp;我觉得你说的很有道理！</h1>
            </div>
        </div>
        <div class="mycomment">
            <div class="mycomment-title">
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <span>谢斌</span><i><img src="{{ EYEGIC_STATIC }}images/toward.png"></i><span>倩倩</span>
                <span><img src="{{ EYEGIC_STATIC }}images/yoga.jpg"></span>
                <em class="fr mycomment-date">17-03-04</em>
            </div>
            <div class="mycomment-content">
                <h1>问题：在《开国大典》这篇课文中你印象最深刻的场景？</h1>
            </div>
            <div class="mycomment-answer">
                <h1>评论：&nbsp;我觉得你说的很有道理！</h1>
            </div>
        </div>
    </div>
</body>
</html>