<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的消息</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ EYEGIC_STATIC }}css/main.css">
<script type="text/javascript" src="{{ EYEGIC_STATIC }}js/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <a href="javascript:history.back()"><span><img src="{{ EYEGIC_STATIC }}images/back.png" class="header-icon-left"></span></a>
        <h1 class="header-title">我的消息</h1>
    </div>
    <div class="container-grey">
        {% for comment in comments %}
        <div class="mycomment">
            <div class="mycomment-title">
                <span><img src="{{ EYEGIC_STATIC }}images/{{ comment.user.avater }}"></span>
                <span>{{ comment.user.nickname }}</span>
                <i><img src="{{ EYEGIC_STATIC }}images/toward.png"></i>
                <span>{{ comment.answer.user.nickname }}</span>
                <span><img src="{{ EYEGIC_STATIC }}images/{{ comment.answer.user.avater }}"></span>
                <em class="fr mycomment-date">{{ comment.time }}</em>
            </div>
            <div class="mycomment-content">
                <h1>问题：{{ comment.answer.question.question }}</h1>
            </div>
            <div class="mycomment-answer">
                <h1>评论：&nbsp;{{ comment.comment }}</h1>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>