<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>搜索</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<a href="javascript:history.back()"><span><img src="images/back.png" class="header-icon-left"></span></a>
		<div class="search-bar"><input type="text" name="search" placeholder="在书城中搜索"></div>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container">
	    <a href="category.html"><div class="search-category">
	    	<span><img src="images/category.png"></span>
	    	<span>图书分类</span>
	    	<span><img src="images/arrow.png"></span>
	    </div></a>
	    <div class="search-tag clearfix">
	    	<h1>为您推荐</h1>
	    	<div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div><div class="fl tag-item">一年级苏教版语文</div>
	    </div>
	    <div class="hr15"></div>
	    <div class="search-history">
	    	<h1>搜索记录</h1>
	    	<div class="history-item">暂无搜索历史</div>
	    </div>
	</div>
	<!-- 页面内容结束 -->
</body>
</html>