<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>查看全部</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <!-- 顶部导航栏 -->
	<div class="header">
		<a href="javascript:history.back()"><span><img src="images/back.png" class="header-icon-left"></span></a>
		<h1 class="header-title">语文</h1>
		<a href="search.html"><span><img src="images/search.png" class="header-icon-right"></span></a>
	</div>
	<!-- 顶部导航栏结束 -->
	<!-- 页面内容 -->
	<div class="container">
		<div class="bookitem">
			<div class="bookcover">
				<a href="bookdetail.html"><img src="images/chinese1a.jpg" alt="bookcover"></a>
			</div>
			<h class="bookname">小学一年级语文</h>
			<h class="download">收藏</h>
		</div>
		<div class="bookitem">
			<div class="bookcover">
				<a href="bookdetail.html"><img src="images/chinese2a.png" alt="bookcover"></a>
			</div>
			<h class="bookname">小学二年级语文</h>
			<h class="download">收藏</h>
		</div>
		<div class="bookitem">
			<div class="bookcover">
				<a href="bookdetail.html"><img src="images/english4b.png" alt="bookcover"></a>
			</div>
			<h class="bookname">小学四年级英语</h>
			<h class="download">收藏</h>
		</div>
		<div class="bookitem">
			<div class="bookcover">
				<a href="bookdetail.html"><img src="images/math3a.png" alt="bookcover"></a>
			</div>
			<h class="bookname">小学三年级数学</h>
			<h class="download">收藏</h>
		</div>
	</div>
	<!-- 页面内容结束 -->
</body>
</html>